@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: "roboto", sans-serif;

}
.YT-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;
  
}
.YT-Header .logo-left {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.sr-cen {
}
.sr-cen .sr-cont {
  display: flex;
  align-items: center;
  gap:10px ;
}
.sr-cen .sr-cont .srbr-box {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 30px 30px 30px 30px;
  overflow: hidden;
}
.sr-cen .sr-cont .srbr-box .srbar .sr-input {
  width: 400px;
  border: none;
  display: inline;
  outline: none;
  flex-grow: 1;
  margin-left: 20px;
  font-size: inherit;
}

#sr-ic {
  height: 34px;
  width: 50px;
  border-radius: 0 45px 45px 0;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #f0f0f0;
  border: 1px solid gray;
}
#sr-ic:hover {
  background-color: #f0f0f0;
}

#mic-ic {
  display: flex;
  align-items: center;
  background-color: #f0f0f0; /* Transparent background for the button */
  border: none;
  padding: 0; /* Remove padding to ensure the button touches the container border */
  cursor: pointer;
  position: relative; /* Position relative for absolute positioning of the icon */
  margin-left: 5px; /* Adjust the margin to make the button touch the container border */
  width: 35px; /* Set a fixed width for the button */
  height: 35px;
  border-radius: 50%;
  outline: none;
}
#mic-ic .mic-ic-img {
  display: block;
  margin: auto;
  position: absolute; /* Position the icon absolutely */
  top: 0;
  left: -1px;
  bottom: 0;
  right: 0;
}
.YT-Header .icons-right {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.side-bar {
  background-color: #fff;
  width: 17%;
  height: 100%;
}

.side-bar .sdbr-links a img {
  width: 20px;
  margin-right: 1.25rem;
}
.side-bar .sdbr-links a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: nowrap;
  margin: -0.1px ;
}
.side-bar .sdbr-links .hr {
  border: 0;
  height: 1px;
  width: 85%;
}
.subsd-list h3 {
  font-size: 13px;
  margin: 20px 0;
  color: #5a5a5a;
}
.subsd-list a {
  display: flex;
  align-items: center;
}
.subsd-list a img {
  width: 25px;
  border-radius: 50%;
  margin-right: 20px;
}
.small-side-bar {
  
}
.small-side-bar a p {
  display: none;
}