.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
  }
  
  .left,
  .center,
  .right {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .menu-button {
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
  }
  
  .menu-button .icon {
    margin-right: 10px;
    fill: #000;
  }
  
  .logo {
    height: 24px;
  }
  
  .search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-button,
  .mic-button {
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-left: 10px;
  }
  
  .search-button .icon,
  .mic-button .icon {
    fill: #000;
  }
  
  .camera-button,
  .notification-button,
  .profile-button {
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-left: 10px;
  }
  
  .camera-button .icon,
  .notification-button .icon,
  .profile-button .icon {
    fill: #000;
  }
  